<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7OhNJLh4sq29_1OUYFoN7QWHx9mHYYIs</string>
	<key>GCM_SENDER_ID</key>
	<string>149720405502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voizcall.app</string>
	<key>PROJECT_ID</key>
	<string>voizcall-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>voizcall-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149720405502:ios:d3aa6dfc322e976c1e5caf</string>
</dict>
</plist>